<mat-toolbar class="custom-toolbar">
  <button mat-icon-button class="example-icon" aria-label="menu icon">
    <mat-icon routerLink="/products">home</mat-icon>
  </button>

  <span routerLink="/products">{{title}}</span>

  <span class="example-spacer"></span>

  <!-- <button mat-icon-button class="example-icon" aria-label="search icon">
    <mat-icon>search</mat-icon>
  </button> -->

  <button mat-icon-button class="example-icon add-icon" aria-label="add icon" routerLink="/add-product">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>